[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
selenium = "*"
"beautifulsoup4" = "*"
pandas = "*"
"psycopg2" = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.7"
